body{
    margin: 0;
}

#activePokemonName {
    color: #973f3f;
}

.pokemon-name-container:hover #activePokemonName {
    color: white;
}

.relative{
    position: relative;
}

.margin-left{
    margin-left: 30%;
}

.pokemon-info-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('./img/pokeball.png.jpg');
    background-size: 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

.absolute{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 20%);
    height: 100vh;
    z-index: 5;
    overflow: hidden;
}

.margin-bottom{
    margin-bottom: 45px;
}

.d-none{
    display: none;
}

.head{
    left: 12%;
    position: absolute; 
}
.pokemon-card{
    background: rgba(166, 5, 5, 0.4);
    width: 50%;
    height: 50%;
    border-radius: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.current-pokemon-image{
    width: 225px;
    height: 225px;
    object-fit: cover;
}

ul{
    position: absolute;
    top: 20%;
    left: 10.5%;
}

.pokemon-name-container{
    width: 250px;
    height: 300px;
    border-color: white;
    color: white;
    margin: 24px;
    border-radius: 24px;
    border: solid;
    text-align: center;
    font-size: 28px;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

.absolutepokemon{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 35%;
    left: 48%;
    width: 100%;
    color: #e7a8a8;
    font-size: 23px;
}

.pokemon-image{
    width: 150px;
    height: 150px;
}

.pokemon-name-container:hover{
    cursor: pointer;
    transform: rotateZ(10deg);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  
}

.cross{
    width: 50px;
    filter: invert(1);
    position: absolute;
    top: 13%;
    left: 90%;
    cursor: grab;
}


.pokemon-overview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.overview{
    width: 100%;
    border-radius: 24px;
    background-color: rgb(7, 150, 160);
}

.message-img{
    width: 350px;
    height: 650px;
}

.pokemon-class{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -2%;
    left: 17%;
}
#current-pokemon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#activePokemonImage{
    position: absolute;
    top: 13%;
    left: 0.5%;
    width: 150px;
    height: 150px;
    border-radius: 100%;

}